body {text-align: center;}
img {display: block; margin: auto;}
table {margin: auto;}
body {font-family: Verdana, sans-serif;}
body {background-color: lightgrey;}

h1,h2 {color: crimson; text-align: center;}
.evenrow {background-color: white;}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}